body  {
    display: flex;
    min-height: 100vh;
    flex-flow: column wrap;
    background-color: whitesmoke;
}

main {
    flex: grow 1;
}

footer {
    padding-top: 0;
    text-align: right;
}

.headshot {
    border-radius: 50%;
}

.restitle {
    display: flex;
    flex-direction: column wrap;
    align-content: center;
}
