body  {
    display: flex;
    min-height: 100vh;
    flex-flow: column wrap;
    background-color: teal;
}

main {
    flex: grow 1;
}

footer {
    padding-top: 0;
    text-align: right;
}

.headshot {
    border-radius: 50%;
}

.page-footer {
    background-color: teal;
}
     